/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
}

/* Header */
header {
    background-color: #b0e0e6;
    color: #006699;
    padding: 0 0.5rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px rgba(100, 149, 237, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header a {
    text-decoration: none;
    color: inherit;
    text-align: center;
}

h1 {
    font-family: 'Nunito', sans-serif;
    text-transform: initial;
    letter-spacing: 1px;
    color: #006699;
    text-align: center;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
    margin-left: 1rem;
}

.active {
    border-bottom: 1px solid #48A4B8;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #b0e0e6;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 1px 2px rgba(100, 149, 237, 0.3);
    display: none;
    top: 100%;

}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    /* Make main element to take up any surplus space to push footer down */
    flex: 1 0 auto;
    color: #333333;
    margin-top: auto;
    background-color: #C1D9D0;
}

/* Hero section */

#hero {
    height: 50vh;
    background: url("../images/hero.jpg") no-repeat center center/cover;
    position: relative;
    display: flex;
    align-items: center;
}

/* Overlay for the hero section */
#hero-overlay {
    position: relative;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Welcome message styles */
#welcome-message {
    text-align: center;
    color: #fff;
    padding: 20px;
    z-index: 1;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
}

#welcome-message h2 {
    font-size: 2rem;
    margin-bottom: 10px;

}

#welcome-message p {
    font-size: 1.2rem;
}

/* Benefits Section Styles */

#benefits {
    text-align: center;
    padding: 2rem 0;
}

.benefit {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    border: 5px solid #006699;
    border-radius: 20px;
    box-shadow: 0 1px 2px rgba(100, 149, 237, 0.3);
    margin-bottom: 20px;
}

.benefit ul li {
    margin-bottom: 10px;
}

.benefit h3 {
    color: #006699;
    margin-bottom: 10px;
}

/* Two columns for benefits */

.benefit-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

/* Column styling */

.column {
    flex: 1;
    padding: 0;
    list-style-type: none;
    text-align: left;
}

/* Technique page styling */

/* Technique category styles */
#technique-categories {
    text-align: center;
    padding: 2rem 0;
}

#technique-categories h2 {
    color: #006699;
}

.technique {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #006699;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;

}

.technique h3 {
    color: #006699;
    margin-bottom: 10px;
    font-size: 1, 5rem;
}

.technique p {
    font-size: 1.1rem;
    line-height: 1.2;
    color: #333;
}

/* Resources page styles */

/* Guided meditations section */

#guided-meditation {
    background-color: #C1D9D0;
    padding: 2rem;
    text-align: center;
}

#guided-meditation h2 {
    color: #006699;
    font-size: 1.5rem;
}

#guided-meditation p {
font-size: 1.1rem;
margin-bottom: 1.5rem;
}

#guided-meditation h3 {
    color: #006699;
}

audio {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* Footer styles */
footer {
    background-color: #F5F5F5;
    color: #4c5760;
    font-family: 'Crimson Text', serif;
    text-align: center;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        margin-top: auto;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 230%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accomodate larger header */
        margin-top: 79px;
    }

    #hero {
        height: 50vh;
        background: url("../images/hero.jpg") no-repeat center center/cover;
        position: relative;
        display: flex;
        align-items: center;
    }

    /* Benefit columns */

    .benefit-columns {
        gap: 40px;
    }

    /* Techniques */
    .technique {
        max-width: 800px;
    }
}


/* Larger devices (laptops, desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #48A4B8;
    }
}